<div class="panel">
  <div class="left-part"></div>
  <div class="right-part">
    <div class="line line-top">
      <span>N</span>
      <span>o</span>
      <span>i</span>
      <span>r</span>
      <span></span>
      <span>c</span>
      <span>'</span>
      <span>e</span>
      <span>s</span>
      <span>t</span>
      <span></span>
      <span>n</span>
      <span>o</span>
      <span>i</span>
      <span>r</span>
      <span></span>
    </div>
    <div class="line line-middle">
      <span>A</span>
      <span>l</span>
      <span>l</span>
      <span>u</span>
      <span>m</span>
      <span>e</span>
      <span>z</span>
      <span></span>
      <span>v</span>
      <span>o</span>
      <span>s</span>
      <span></span>
      <span>f</span>
      <span>e</span>
      <span>u</span>
      <span>x</span>
    </div>
    <div class="line line-bottom">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- <div class="panel incident">
  Attention Accident à 2 km ralentissez
</div> -->
