<!-- TODO : Add class ".has-accident" to the panel block below when an accient is detected -->
<div class="panel">
  <div class="left-part"></div>
  <div class="right-part">
    <!-- Content start -->
    <div class="content-start">
      <div class="line line-top">
        <span>N</span>
        <span>o</span>
        <span>i</span>
        <span>r</span>
        <span></span>
        <span>c</span>
        <span>'</span>
        <span>e</span>
        <span>s</span>
        <span>t</span>
        <span></span>
        <span>n</span>
        <span>o</span>
        <span>i</span>
        <span>r</span>
        <span></span>
      </div>
      <div class="line line-middle">
        <span>A</span>
        <span>l</span>
        <span>l</span>
        <span>u</span>
        <span>m</span>
        <span>e</span>
        <span>z</span>
        <span></span>
        <span>v</span>
        <span>o</span>
        <span>s</span>
        <span></span>
        <span>f</span>
        <span>e</span>
        <span>u</span>
        <span>x</span>
      </div>
      <div class="line line-bottom">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <!-- Content End -->
    <div class="content-end">
      <div class="line line-top">
        <span>A</span>
        <span>t</span>
        <span>t</span>
        <span>e</span>
        <span>n</span>
        <span>t</span>
        <span>i</span>
        <span>o</span>
        <span>n</span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="line line-middle">
        <span>A</span>
        <span>c</span>
        <span>c</span>
        <span>i</span>
        <span>d</span>
        <span>e</span>
        <span>n</span>
        <span>t</span>
        <span></span>
        <span>à</span>
        <span></span>
        <span>2</span>
        <span></span>
        <span>k</span>
        <span>m</span>
        <span></span>
      </div>
      <div class="line line-bottom">
        <span>R</span>
        <span>a</span>
        <span>l</span>
        <span>e</span>
        <span>n</span>
        <span>t</span>
        <span>i</span>
        <span>s</span>
        <span>s</span>
        <span>e</span>
        <span>z</span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
